/* ADD FONT FAMILLY */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
/* font-weight: Light 300 - Regular 400 - Bold 700 */

/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    color: unset;
    text-decoration: none;
    list-style: none;
}

/* CSS VARIABLE */

:root {
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0, 0);
    --white-hover: hsla(0, 100%, 100%, 0.5);
    --background-nav: hsla(0, 100%, 100%, 0.6); 
}

/* HEADER */

header {
    min-height: 100vh;
    background-image: url("../images/building.jpeg");
    background-color: var(--black);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
}
header nav {
    height: 100%;
    position: fixed;
    background: var(--background-nav);
    clip-path: polygon(0 0, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    z-index: 100;
}
header nav ul {
    height: 100%;
    margin: 0 30px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header nav ul a li {
    border: 2px solid var(--white);
    width: 150px;
    padding: 15px 0;
    margin: 20px 50px 20px 10px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
}
header nav ul a li {
    font-size: 1.5rem;
}
header nav ul a li:hover {
    background: var(--white-hover);
    color: var(--white);
}
header div {
    border: 1px solid var(--white);
    margin-right: 100px;
    padding: 50px 100px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
header div h1,
header div span {
    font-size: 4rem;
    color: var(--white);
}
header div span {
    font-size: 7rem;
    letter-spacing: 10px;
}

/* CITIES */

#cities {
    min-height: 100vh;
    background: url(../images/building2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#cities nav {
    height: 100%;
    width: 60%;
    position: absolute;
    right: 0;
    background: red;
}
#cities ul {
    display: flex;
}
#cities ul .nav-box-left,
#cities ul .nav-box-right { 
    width: 25%;
}
#cities ul .nav-box-center div {
    display: flex;
}
#cities li {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    padding: 10px;
}
#cities .nav-box-center li {
    height: 300px;
}
#cities .nav-box-center div li {
    height: 200px;
}
#cities img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
#cities #living:after {
    content: "Living";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    padding: 10px;
    color: var(--white);
    transition: all 1s;
}
#cities li:hover {
    background-color: var(--black);
}
#cities li:hover:after {
    bottom: 50%;
    transform: translateY(-50%);
}