:root {
    --red: #ff0000;
    --orange: #ff8000;
    --yellow: #ffff00;
    --green: #00d500;
    --blue: #0080ff;
    --purple: #8000ff;
    --pink: #ff80ff;
}

.red {
    color: var(--red);
}
.orange {
    color: var(--orange);
}
.yellow {
    color: var(--yellow);
}
.green {
    color: var(--green);
    margin-right: 2rem;
}
.blue {
    color: var(--blue);
}
.purple {
    color: var(--purple);
}
.pink {
    color: var(--pink);
}
