// Header
$color-text-header: #fff;
$background-member-section: #5eed89;
$background-input-member-section: #5fb0e9;
$background-input-diaporama-section: #111;
$background-footer : #333;
$border-input-footer: #00ede5;
$background-input-footer: #0f84f1;

    // Nav
    $gap-line-burger: 20px;